<header class="title-container">
  <div id="title">
    <h2>EnergyReview</h2>
  </div>

  <div id="login">
    <% if user_signed_in? %>
      <ul class='organizer'>
        <li>
          <% if current_user.avatar.url != nil %>
            <img id='header-img-size' src="<%= current_user.avatar.url %>"></img>
          <% end %>
        </li>
        <li><%= current_user.name %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class='organizer'>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
</header>

<h1>Edit Energy Drink</h1>
<%= render 'form' %>
