<ul>
  <% if user_signed_in? %>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign In", new_user_session_path %></li>
  <% end %>
</ul>

<%= form_tag drinks_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Drinks" %>
  <%= submit_tag "Search" %>
<% end %>

<%= paginate @drinks %>

<% @drinks.each do |drink| %>
  <h3><%= link_to drink.name, drink %> by <%= drink.brand %></h3>
  <p><%= drink.reviews.count %> Comments</p>
<% end %>

<%= link_to "Add New ENERGY DRINK", new_drink_path %>
