<header class="title-container">
  <div id="title">
    <h2>EnergyReview</h2>
  </div>

  <div id="login">
    <% if user_signed_in? %>
      <ul class='organizer'>
        <li>
          <% if current_user.avatar.url != nil %>
            <img id='header-img-size' src="<%= current_user.avatar.url %>"></img>
          <% end %>
        </li>
        <li><%= current_user.name %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class='organizer'>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
</header>

<h1><%= @drink.name %></h1>
<h3>Brand: <%= @drink.brand %></h3>
<img id='drink-img-size' src="<%= @drink.avatar.url %>"></img>
<p>Description: <%= @drink.description %></p>
<p>Volume: <%= @drink.volume %> fluid ounces</p>
<p>Caffeine: <%= @drink.caffeine %> mg</p>
<p>Calories: <%= @drink.calories %></p>
<p>User: <%= @drink.user.name %></p>

<h2><%= pluralize(@drink.reviews.count, "Review") %> (<%= @drink.average_rating %> stars)</h2>

<div class="review-container">
  <div class="review-form">
    <%= render 'reviews/form' %>
  </div>

  <div>
    <% @reviews.each do |review| %>
      <ul class="review">
        <li>Rating: <%= render_stars(review.rating) %></li>
        <li class="author">By <%= review.user.name %></li>
        <li><%= review.body %></li>
        <li class="score">Score: <span class="score-tracker<%= review.id %>"><%= review.score %></span></li>
        <div class="votes">
          <%= link_to "Upvote", review_votes_path(review, upvote: 1), class: "upvote", id: review.id, :remote => "true", method: "post" %>
          <%= link_to "Downvote", review_votes_path(review, upvote: -1), class: "downvote", id: review.id, :remote => "true", method: "post"%>
        </div>
      </ul>
    <% end %>
  </div>
</div>

<%= link_to "Edit", edit_drink_path %>
<% if current_user.admin? || @drink.user_id == current_user.id %>
  <%= link_to "Destroy", drink_path(@drink), method: :delete, data: { confirm: "Are you sure? "} %>
<% end %>
<%= link_to "Home", root_path %>
